/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Poppins', sans-serif; */

/* === root/html === */
:root {
    /* palette couleur */
    --full-white: #fff;
    --main-white: #f1f1f1;
    --shade-white: #b7b7b7;
    --full-black: #000000;
    --main-black: #333;
    --main-gray: #aaa;
    --main-shadow: #292929;
    --main-yellow: #ffff00;
    --dark-yellow: #f4cb38;
    --main-orange: #ffa500;

    /* Fonts */
    --font-title: "Abril Fatface", cursive;
    --font-base: "Poppins", sans-serif;

    /* Font-size */
    --size-title: calc(2.5rem + 3.5vw);
    --size-sub-title: calc(1.5rem + 2vw);
    --size-section-title: calc(1.5rem + 2vw);
    --size-p: calc(0.2rem + 1vw);
    --text-sm: 1.4rem;
    --text-base: 1.6rem;
    --text-md: 1.8rem;
    --text-lg: 2rem; /* 20px */
    --text-xl: 2.4rem; /* 24px */
    --text-2xl: 3rem; /* 30px */
    --text-3xl: 3.6rem;
    --text-4xl: 4.2rem;
    --text-5xl: 5rem;
    --text-6xl: 6rem;
    --text-7xl: 7.2rem;

    /* Spacing */
    --space-1: 0.1rem;
    --space-2: 0.2rem;
    --space-4: 0.4rem;
    --space-6: 0.6rem;
    --space-8: 0.8rem;
    --space-10: 1rem;
    --space-12: 1.2rem;
    --space-16: 1.6rem;
    --space-20: 2rem;
    --space-28: 2.8rem;
    --space-36: 3.6rem;
    --space-44: 4.4rem;
    --space-52: 5.2rem;
    --space-60: 6rem;
    --space-72: 7.2rem;
    --space-84: 8.4rem;
    --space-96: 9.6rem;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-base);
    background-color: var(--main-white);
}

/* ===== Nav/Portrait/Contact ===== */
/* Nav */
.nav-left {
    width: 300px;
    height: 100vh;
    min-height: 800px;
    background-color: var(--main-black);
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px dashed var(--main-white);
    z-index: 5;
    transition: all 0.2s ease-in-out;
}
.blocs-menu {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocs-menu span {
    font-size: var(--text-lg);
    text-align: center;
    position: relative;
    font-weight: 600;
    cursor: pointer;
}
.blocs-menu span a {
    text-decoration: none;
    color: var(--main-white);
    letter-spacing: 1px;
}
/* anim item */
nav span::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    margin: 5px auto 0 auto;
    border-radius: 2px;
    background: var(--main-white);
    transition: all 0.2s ease-in;
}
nav span:hover::after {
    width: 100%;
}

/* Portrait */
.blocs-menu:nth-child(1) {
    width: 100%;
    height: 25%;
    background: var(--main-black);
}
.circle-portrait {
    width: 150px;
    height: 150px;
    margin: 20px 0;
    border-radius: 50%;
    position: relative;
    box-shadow: 26px 26px 53px var(--main-shadow), -26px -2px 53px #3d3d3d;
}
.circle-portrait img {
    width: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Contact */
.circle-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: var(--space-44);
    cursor: pointer;
}
.circle-logo img {
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* responsive nav */
@media screen and (max-width: 1200px) {
    /* navbar */
    .nav-left {
        left: -300px !important;
        width: 250px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-visible {
        left: 0px !important;
    }
    .blocs-menu:nth-child(1) {
        display: none;
    }
    .blocs-menu:nth-child(7) {
        display: none;
    }
    /* btn menu */
    .btn-rond-menu {
        width: 70px;
        height: 70px;
        border: 1px solid var(--main-white);
        border-radius: 50%;
        background: var(--main-black);
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 10;
    }
    .cont-ligne {
        width: var(--space-36);
        height: var(--space-36);
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .ligne-unique {
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: var(--main-white);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .ligne-unique::before {
        content: "";
        position: absolute;
        bottom: 10px;
        background: var(--main-white);
        width: 100%;
        height: 4px;
        border-radius: 5px;
    }
    .ligne-unique::after {
        content: "";
        position: absolute;
        top: 10px;
        background: var(--main-white);
        width: 100%;
        height: 4px;
        border-radius: 5px;
    }
    /* anim btn */
    .cont-ligne.active .ligne-unique {
        background: transparent;
    }
    .cont-ligne.active .ligne-unique::after {
        top: 0;
        transform: rotate(45deg);
        transition: top 0.3s ease, transform 0.3s 0.3s ease;
    }
    .cont-ligne.active .ligne-unique::before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 0.3s ease, transform 0.3s 0.3s ease;
    }
}

/* ===== btn scroll up ===== */
.btn-scrollup {
    display: none;
}
/* ====== Accueil ======= */
.accueil {
    background: url(../img/accueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    min-height: 900px;
    width: calc(100% - 300px);
    margin-left: auto;
    padding-left: var(--space-52);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-title {
    font-size: var(--size-title);
    font-family: var(--font-title);
    letter-spacing: 1px;
}
.name-animation,
.txt-animation {
    font-size: var(--text-3xl);
    font-family: var(--font-base);
    margin: var(--space-16) 0;
}
.btn-acc {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-size: var(--text-lg);
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    margin: var(--space-10) 0 0 0;
    border-radius: 3px;
}
.btn-acc1 {
    color: var(--main-white);
    background: var(--full-black);
    transition: all 0.2s ease-in-out;
}
.btn-acc1:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}
.btn-acc2 {
    color: var(--full-black);
    background: transparent;
    margin-left: var(--space-10);
    border: 2px solid var(--full-black);
    transition: all 0.2s ease-in-out;
}
.btn-acc2:hover {
    transition: all 0.2s ease-in-out;
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}
.medias {
    display: flex;
    margin-top: var(--space-36);
}
.media {
    width: var(--space-60);
    height: var(--space-60);
    background: var(--main-black);
    border-radius: 50%;
    margin-right: var(--space-16);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.media2 {
    background: transparent;
    border: 2px solid var(--main-black);
}
.icone-medias {
    width: 30px;
}
/* responsive accueil */
@media screen and (max-width: 1200px) {
    .accueil {
        width: 100%;
        background-position: center;
    }
}
@media screen and (max-width: 990px) {
    .accueil {
        height: 700px;
        min-height: 0;
        padding: 0 var(--space-36);
    }
}
@media screen and (max-width: 770px) {
    .accueil {
        height: 600px;
    }
    .section-title {
        font-size: var(--text-4xl);
    }
    .name-animation,
    .txt-animation {
        font-size: var(--text-2xl);
    }
    .btn-acc {
        width: 160px;
        height: 40px;
        font-size: var(--text-md);
        font-weight: 400;
    }
    .btn-rond-menu {
        width: 60px;
        height: 60px;
    }
}
@media screen and (max-width: 570px) {
    .accueil {
        height: 500px;
    }
    .section-title {
        font-size: var(--text-3xl);
        text-align: center;
        margin-top: var(--space-36);
    }
    .name-animation,
    .txt-animation {
        font-size: var(--text-xl);
    }
    .btn-hero,
    .medias {
        margin: var(--space-20) auto;
    }
    .btn-rond-menu {
        width: 60px;
        height: 60px;
    }
}
@media screen and (max-width: 450px) {
    .section-title {
        font-size: var(--text-2xl);
        margin-top: var(--space-36);
    }
    .name-animation {
        margin-top: var(--space-36);
    }
    .name-animation,
    .txt-animation {
        font-size: var(--text-lg);
        text-align: center;
    }
    .medias {
        margin: var(--space-20) auto;
    }
    .btn-hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn-acc2 {
        margin-left: 0;
    }
    .btn-rond-menu {
        width: 50px;
        height: 50px;
    }
    .cont-ligne {
        width: 20px;
        height: 38px;
    }
    .ligne-unique {
        height: 3px;
    }
    .ligne-unique::before {
        height: 3px;
        bottom: 8px;
    }
    .ligne-unique::after {
        height: 3px;
        top: 8px;
    }
}

/* ====== Presentation ======= */
.presentation {
    width: calc(100% - 300px);
    height: 100vh;
    min-height: 900px;
    margin-left: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-top: 1px dashed var(--main-black);
    border-bottom: 1px dashed var(--main-black);
}
.fond-form {
    position: absolute;
    width: 80%;
    height: 210%;
    background: #f4cb38;
    background-image: linear-gradient(to right, #29323c, #485563);
    transform: rotate(45deg) translateX(100px) translateY(-15px);
    z-index: -1;
}
.size-title {
    font-size: var(--size-title);
    font-family: var(--font-title);
    text-align: center;
    color: var(--main-white);
}
.container-presentation {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    margin: var(--space-52) 0 0 0;
}
/* pres-gauche  */
.pres-gauche {
    width: 600px;
    padding: 0 var(--space-20);
    flex-shrink: 0;
}
.size-sub-title {
    font-size: var(--text-xl);
    font-family: var(--font-title);
    text-align: center;
    letter-spacing: 1px;
    color: var(--main-white);
}
.pres-gauche hr {
    width: 100px;
    margin: var(--space-10) auto var(--space-20);
}
.pres-gauche p {
    font-size: var(--size-p);
    text-align: justify;
    color: var(--main-white);
    padding: 0 var(--space-10);
}
/* pres-droite */
.pres-droite {
    width: 400px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    padding: 0 var(--space-20);
}
.liste-presentation {
    color: var(--main-white);
    padding-left: var(--space-10);
}
.item-liste {
    margin-bottom: var(--space-28);
}
.chiffre-style {
    font-size: var(--text-3xl);
    font-family: var(--font-title);
}
.text-liste {
    font-size: var(--text-2xl);
    display: inline;
}
/* responsive presentation */
@media screen and (max-width: 1200px) {
    .presentation {
        width: 100%;
        min-height: 500px;
        background: #f4cb38;
        background-image: linear-gradient(to right, #29323c, #485563);
    }
    .fond-form {
        display: none;
    }
    .pres-gauche {
        width: 650px;
        padding: 0 var(--space-20);
    }
    .pres-gauche p {
        font-size: var(--text-md);
        line-height: 1.4;
    }
    .item-liste {
        margin-bottom: var(--space-36);
    }
    .chiffre-style {
        font-size: var(--text-2xl);
    }
    .text-liste {
        font-size: var(--text-2xl);
    }
    .pres-droite {
        width: 350px;
    }
}
@media screen and (max-width: 770px) {
    .presentation {
        min-height: 900px;
    }
    .container-presentation {
        display: flex;
        flex-direction: column;
    }
    .pres-gauche {
        width: auto;
        margin: 0 auto;
        padding: 0 var(--space-20);
    }
    .pres-droite {
        width: auto;
        margin: var(--space-16) auto 0;
        padding: 0;
    }
}
@media screen and (max-width: 570px) {
    .presentation {
        min-height: 900px;
    }
    .container-presentation {
        display: flex;
        flex-direction: column;
    }
    .pres-gauche {
        width: auto;
        margin: 0 auto;
        padding: 0;
    }
    .pres-droite {
        width: auto;
        margin: var(--space-28) auto 0;
    }
    .chiffre-style {
        font-size: var(--text-xl);
    }
    .text-liste {
        font-size: var(--text-xl);
    }
}
@media screen and (max-width: 450px) {
    .presentation {
        height: auto;
        padding: var(--space-16) 0;
    }
    .pres-gauche {
        width: auto;
        margin: 0 auto;
        padding: 0 var(--space-10);
    }
    .pres-droite {
        width: auto;
        margin: var(--space-28) auto 0;
    }
    .chiffre-style {
        font-size: var(--text-xl);
    }
    .text-liste {
        font-size: var(--text-xl);
    }
}

/* ====== Portfolio ======= */
.portfolio {
    width: calc(100% - 300px);
    height: auto;
    min-height: 900px;
    margin-left: auto;
}
/* title */
.title-port {
    font-size: var(--size-title);
    font-family: var(--font-title);
    text-align: center;
    padding: var(--space-52) 0;
}
.container-portfolio {
    width: 100%;
    height: auto;
    padding: 0 0 var(--space-52) 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* card */
.item {
    width: 420px;
    height: 400px;
    margin: 0 var(--space-16) var(--space-28);
    color: var(--main-black);
    background-color: var(--main-white);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-out;
    border-radius: 5px;
}
.item:hover {
    transform: translateY(-10px);
    transition: all 0.2s ease-out;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}
/* img */
.cont-img-port {
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
.cont-img-port img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}
/* txt */
.item h3 {
    font-size: var(--text-xl);
    font-family: var(--font-title);
    padding: var(--space-10) var(--space-10) 0;
}
.item p {
    font-size: var(--text-lg);
    font-family: var(--font-base);
    padding: var(--space-10) var(--space-10) 0;
}
/* btn projets */
.btn-projets {
    display: block;
    margin: var(--space-10);
    width: 250px;
    height: 50px;
    font-size: var(--text-lg);
    line-height: 50px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-decoration: none;
    border: 1px solid var(--main-black);
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.btn-projets::after {
    content: "";
    width: 100px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    position: absolute;
    left: -150px;
    top: -50px;
    transform: rotate(-45deg);
}
.btn-projets:hover::after {
    transition: transform 0.4s 0.1s linear;
    transform: translateX(400px);
}
/* responsive portfolio */
@media screen and (max-width: 1200px) {
    .portfolio {
        width: 100%;
        height: auto;
    }
    .item {
        margin: 0 var(--space-20) var(--space-36);
    }
}
@media screen and (max-width: 450px) {
    .cont-img-port {
        height: auto;
    }
}

/* ====== Range ======= */
.range {
    width: calc(100% - 300px);
    height: 100vh;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--space-96);
    border-bottom: 1px dashed var(--main-black);
    background: #485563;
    background-image: linear-gradient(to right, #29323c, #485563);
    position: relative;
    z-index: -1;
}
/* title */
.title-range {
    font-size: var(--size-title);
    font-family: var(--font-title);
    text-align: center;
    padding: var(--space-52) 0;
}
.title-range,
.label-skill,
.number-skill {
    color: var(--main-white);
}
.number-skill,
.label-skill {
    font-size: var(--text-xl);
}
.range-cont {
    position: relative;
}
.grid-skills {
    display: grid;
    grid-template: repeat(3, 80px) / repeat(2, 500px);
    grid-gap: 50px 30px;
}
.barre-skill {
    height: 20px;
    background-color: rgb(167, 146, 243);
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.barre-grises {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 500px;
    height: 20px;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
}
.b1 {
    width: 90%;
}
.b2 {
    width: 90%;
}
.b3 {
    width: 90%;
}
.b4 {
    width: 50%;
}
.b5 {
    width: 60%;
}
.b6 {
    width: 90%;
}
/* responsive range */
@media screen and (max-width: 1400px) {
    .grid-skills {
        display: grid;
        grid-template: repeat(3, 80px) / repeat(2, 400px);
        grid-gap: 50px 30px;
    }
    .barre-grises {
        width: 400px;
    }
}
@media screen and (max-width: 1200px) {
    .range {
        width: 100%;
        height: 100vh;
        margin-left: auto;
    }
    .grid-skills {
        display: grid;
        grid-template: repeat(3, 80px) / repeat(2, 450px);
        grid-gap: 50px 30px;
    }
    .barre-grises {
        width: 450px;
    }
}
@media screen and (max-width: 990px) {
    .range {
        height: auto;
    }
    .grid-skills {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .range-cont {
        position: relative;
        width: 100%;
        height: 80px;
        margin: 0 auto;
    }
    .barre-grises {
        width: 100%;
    }
}

/* ====== Experience ======= */
.experience {
    width: calc(100% - 300px);
    height: auto;
    margin-left: auto;
    padding-bottom: var(--space-96);
}

.title-experience {
    font-size: var(--size-title);
    font-family: var(--font-title);
    text-align: center;
    padding: var(--space-52) 0;
}
.container-experiences {
    position: relative;
    display: flex;
    justify-content: center;
}
.barre-vertical {
    width: 5px;
    height: 1000px;
    background: var(--full-black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -30px;
}
.boule-icone {
    width: 50px;
    height: 50px;
    border: 1px solid var(--main-black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-white);
}
.boule-icone img {
    width: 25px;
}
.container-bloc-experiences {
    width: 800px;
    height: 1000px;
    flex-shrink: 1;
    position: relative;
}
.bloc {
    width: 100%;
    height: 200px;
    margin-bottom: 37.5px;
    cursor: pointer;
    border: 1px solid var(--main-black);
    position: relative;
}
.contenu-bloc {
    width: 100%;
    height: 100%;
    padding: var(--space-20);
    border: 2px solid var(--full-black);
    background: var(--main-white);
    transform: translate(10px, -10px);
    transition: all 0.25s ease-in-out;
    position: relative;
}
.contenu-bloc:hover {
    transform: translate(0, 0);
}
.bloc1 {
    background-color: #fb97a0;
}
.bloc2 {
    background-color: #bfe2ca;
}
.bloc3 {
    background-color: #a6daef;
}
.bloc4 {
    background-color: #d0e2ec;
}
.title-card {
    font-size: var(--text-2xl);
    font-family: var(--font-title);
    padding-bottom: var(--space-16);
}
.txt-card {
    font-size: var(--text-lg);
    font-family: var(--font-base);
}
/* responsive experience */
@media screen and (max-width: 1200px) {
    .experience {
        width: 100%;
        margin-left: auto;
    }
}
@media screen and (max-width: 990px) {
    .barre-vertical {
        height: 1200px;
    }
    .container-bloc-experiences {
        width: 75%;
    }
    .bloc {
        height: 250px;
    }
}
@media screen and (max-width: 770px) {
    .barre-vertical {
        margin-left: var(--space-28);
    }
}
@media screen and (max-width: 570px) {
    .txt-card {
        font-size: var(--text-md);
    }
    .barre-vertical {
        height: 1800px;
    }
    .bloc {
        height: 400px;
    }
}

/* ====== Parallax ======= */
.parallax {
    width: calc(100% - 300px);
    height: 300px;
    margin-left: auto;
    background: url(../img/accueil.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px dashed var(--main-black);
    border-bottom: 1px dashed var(--main-black);
}
.title-parallax {
    font-size: var(--size-title);
    font-family: var(--font-title);
    text-align: center;
    padding: var(--space-52) 0;
}
.txt-para {
    font-size: var(--text-2xl);
    font-weight: 600;
}
/* responsive parallax */
@media screen and (max-width: 1300px) {
    .txt-para {
        font-size: var(--text-xl);
    }
}
@media screen and (max-width: 1200px) {
    .parallax {
        width: 100%;
        margin-left: auto;
        background-position: center;
    }
}
@media screen and (max-width: 770px) {
    .parallax {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .txt-para {
        font-size: var(--text-lg);
    }
}

/* ====== Contact ======= */
.contact {
    width: calc(100% - 300px);
    height: 100vh;
    margin-left: auto;
}
.title-contact {
    color: var(--main-black);
    font-size: var(--size-title);
    font-family: var(--font-title);
    text-align: center;
    padding: var(--space-52) 0;
}
.container-form {
    width: 70%;
    height: 650px;
    margin: 0 auto;
}
.form-bloc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.form-group {
    position: relative;
    display: flex;
    margin: 0 0 var(--space-44) 0;
}
.form-group label {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: var(--text-lg);
    font-family: var(--base-title);
    color: #666;
    transform: translateY(-50%);
    transition: all 0.4s ease-out;
}
/* input nom prenom */
.form-group input {
    display: block;
    width: 100%;
    height: 30px;
    padding: var(--space-10) 0;
    border: none;
    background: none;
    outline: none;
    border-bottom: 3px solid #666;
    color: var(--main-black);
    font-size: var(--text-xl);
    font-family: var(--base-title);
    transition: all 0.4s ease-out;
}
/* textarea */
.textarea {
    display: flex;
    flex-direction: column;
}
.textarea label {
    color: var(--main-black);
    font-size: var(--text-lg);
    font-family: var(--base-title);
    margin: 0 0 var(--space-20) 0;
}
.textarea textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-left: 2px solid #666;
    border-top: 2px solid #666;
    border-right: 4px solid #666;
    border-bottom: 4px solid #666;
    border-radius: 5px;
    color: var(--main-black);
    font-size: var(--text-lg);
    font-family: var(--base-title);
    padding: var(--space-6);
}
.textarea textarea::placeholder {
    padding: var(--space-6);
    opacity: 0.6;
}
/* btn submit */
.btn-sub {
    margin: 0 auto;
}
.btn-submit {
    width: auto;
    height: auto;
    color: var(--main-black);
    font-size: var(--text-lg);
    font-weight: 600;
    padding: var(--space-16) var(--space-52);
    border: none;
    border-left: 2px solid #666;
    border-top: 2px solid #666;
    border-right: 3px solid #666;
    border-bottom: 3px solid #666;
    border-radius: 9999px;
    background-image: linear-gradient(
        to right,
        transparent 50%,
        rgb(65, 65, 65) 50%,
        rgb(134, 134, 134)
    );
    background-size: 200%;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.btn-submit:hover {
    color: var(--full-white);
    background-position: 100%;
    transition: all 0.3s ease-out;
    border-left: 2px solid var(--full-white);
    border-top: 2px solid var(--full-white);
    border-right: 3px solid var(--full-white);
    border-bottom: 3px solid var(--full-white);
}
/* Animation input contact */
.form-group:focus-within label,
.form-group.animation label {
    top: 0px;
    transform: translateY(-100%);
}

/* responsive contact */
@media screen and (max-width: 1200px) {
    .contact {
        width: 100%;
        height: 100vh;
        margin-left: auto;
    }
}
@media screen and (max-width: 570px) {
    .textarea label {
        font-size: var(--text-md);
    }
    .btn-submit {
        color: var(--main-black);
        font-size: var(--text-md);
        font-weight: 600;
    }
}

/* ====== Footer ======= */
.footer {
    width: calc(100% - 300px);
    height: 200px;
    margin-left: auto;
    background-color: var(--main-black);
}
.container-footer {
    width: 50%;
    height: 100px;
    margin: 0 auto;
    padding: var(--space-36);
}
footer p {
    font-size: var(--text-lg);
    color: var(--main-white);
}
footer p a {
    font-size: var(--text-lg);
    color: var(--shade-white);
    text-decoration: none;
}
/* responsive parallax */
@media screen and (max-width: 1200px) {
    .footer {
        width: 100%;
        height: 100vh;
        margin-left: auto;
    }
}
